<div ng-controller="HashCtrl">
  <div class="panel panel-default">
    <div class="panel-heading">Hash generator</div>
    <form class="form-horizontal panel-body">
      <div class="form-group">
        <label class="col-md-1 control-label">Input</label>
        <div class="col-md-5">
          <textarea class="form-control col-md-5" rows="5" placeholder="input text here"
            ng-trim="false" ng-model="inputText"></textarea>
        </div>
      </div>
      <div class="form-group" ng-repeat="(name, method) in hashMethods">
        <label class="col-md-1 control-label">{{name}}</label>
        <div class="col-md-5">
          <pre>{{method(inputText).toString()}}</pre>
        </div>
      </div>
    </form>
  </div>
</div>
