<div ng-controller="HashCtrl">
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-md-1 control-label">Input</label>
      <div class="col-md-5">
        <textarea class="form-control col-md-5" rows="5" placeholder="input text here"
          ng-trim="false" ng-model="inputText"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-1 control-label">use \r\n</label>
      <div class="col-md-5">
        <input type="checkbox" ng-model="useCrlf">
      </div>
    </div>
    <div class="form-group" ng-repeat="(name, method) in hashMethods">
      <label class="col-md-1 control-label">{{name}}</label>
      <div class="col-md-5">
        <pre>{{method(crlf(inputText)).toString()}}</pre>
      </div>
    </div>
  </form>
</div>
