<h2>Flag Bird</h2>

<p>The repository is <a href="https://github.com/tyage/flag-bird" target="_blank">here</a>.</p>

<h3>Home Tab</h3>

<p>This page.</p>

<h3>Hash Tab</h3>

<p>It generates below</p>

<ul>
  <li>length</li>
  <li>md5</li>
  <li>sha1</li>
  <li>sha256</li>
  <li>sha512</li>
</ul>

<h3>Enc / Dec Tab</h3>

<p>It encodes and decodes below</p>

<ul>
  <li>base64</li>
  <li>caesar</li>
  <li>hex</li>
  <li>url parameter</li>
</ul>

<h3>Network Tab</h3>

<p>It establishes tcp connection , send and recieve the packets.</p>
