<div>
  <form class="form-horizontal" ng-submit="connect($event)">
    <div class="form-group">
      <div class="col-sm-2">
        <input type="text" class="form-control" placeholder="IP" ng-model="ip">
      </div>
      <div class="col-sm-1">
        <input type="text" class="form-control" placeholder="Port" ng-model="port">
      </div>
      <div class="col-sm-1">
        <button type="submit" class="btn btn-default">Connect</button>
      </div>
    </div>
  </form>

  <div>
    <p class="alert alert-info" ng-show="connectionStatus === 'start'">connecting...</p>
    <p class="alert alert-success" ng-show="connectionStatus === 'finish'">connected.</p>
    <p class="alert alert-danger" ng-show="connectionStatus === 'failure'">connection failure.</p>
  </div>

  <form ng-submit="send($event)" ng-show="connectionStatus === 'finish'">
    <div class="form-group">
      <textarea class="form-control" rows="3" placeholder="data to send"
        ng-model="sendingData" ng-trim="false"></textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-default">send</button>
    </div>
  </form>

  <div>
    <div class="panel panel-default" ng-repeat="packet in packets">
      <div class="panel-heading">{{packet.type}}</div>
      <div class="panel-body">
        <pre>{{packet.data}}</pre>
      </div>
    </div>
  </div>
</div>
