<div>
  <form class="navbar-form navbar-left" role="search" ng-submit="connect($event)">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="IP" ng-model="ip">
      <input type="text" class="form-control" placeholder="Port" ng-model="port">
    </div>
    <button type="submit" class="btn btn-default">Connect</button>
  </form>

  <div ng-show="socket" class="form-group">
    <textarea class="form-control col-md-5" rows="2" placeholder="data to send"
      ng-model="data"></textarea>
    <button type="submit" class="btn btn-default" ng-click="send($event)">send</button>
    <p ng-show="bytesWritten !== undefined">{{bytesWritten}} bytes written.</p>
  </div>
</div>
