html {
  overflow: auto;
}
body {
  margin: 10px;
  overflow: auto;
  -webkit-user-select: auto;
}
#contents {
  margin: 10px 0 0 0;
}


/* network tab */
.packet-raw {
  word-break: break-all;
}
.packet-raw span {
  width: 18px;
  display: inline-block;
  font-size: 12px;
}
